---
// Integration Section Component
---

<section class="integration-2-section section-padding">
  <div class="container">
    <div class="integration-2-heading-wrapper">
      <div class="section-title center-text">
        <div class="section-pretitle-box">
          <svg class="pretitle-icon" width="18" height="18" viewBox="0 0 18 18" fill="none"><circle cx="5" cy="9" r="3" stroke="#010127" stroke-width="1.5"/><circle cx="13" cy="9" r="3" stroke="#010127" stroke-width="1.5"/><path d="M8 9h2" stroke="#010127" stroke-width="1.5"/></svg>
          <span class="pretitle-text">Integration</span>
        </div>
        <h2 class="section-heading">Boost efficiency with our smart integrations</h2>
      </div>
    </div>
    <div class="integration-2-section-inner">
      <div class="integration-2-wrapper">
        <div class="integration-2-block mtop">
          <div class="integration-2-item-block">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"><rect width="40" height="40" rx="8" fill="#edff81"/><text x="8" y="26" font-size="16" font-weight="700" fill="#010127">Sp</text></svg>
          </div>
          <div class="integration-2-item-block">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"><rect width="40" height="40" rx="8" fill="#edff81"/><text x="10" y="26" font-size="16" font-weight="700" fill="#010127">Sl</text></svg>
          </div>
        </div>
        <div class="integration-2-block">
          <div class="integration-2-item-block">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"><rect width="40" height="40" rx="8" fill="#edff81"/><text x="10" y="26" font-size="16" font-weight="700" fill="#010127">Za</text></svg>
          </div>
          <div class="integration-2-item-block">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"><rect width="40" height="40" rx="8" fill="#edff81"/><text x="8" y="26" font-size="16" font-weight="700" fill="#010127">Nb</text></svg>
          </div>
        </div>
        <div class="integration-2-block mtop">
          <div class="integration-2-item-block">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"><rect width="40" height="40" rx="8" fill="#edff81"/><text x="6" y="26" font-size="16" font-weight="700" fill="#010127">Gd</text></svg>
          </div>
          <div class="integration-2-item-block">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"><rect width="40" height="40" rx="8" fill="#edff81"/><text x="10" y="26" font-size="16" font-weight="700" fill="#010127">Zp</text></svg>
          </div>
        </div>
        <div class="integration-2-block">
          <div class="integration-2-item-block">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"><rect width="40" height="40" rx="8" fill="#edff81"/><text x="8" y="26" font-size="16" font-weight="700" fill="#010127">Hb</text></svg>
          </div>
          <div class="integration-2-item-block">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"><rect width="40" height="40" rx="8" fill="#edff81"/><text x="10" y="26" font-size="16" font-weight="700" fill="#010127">Mz</text></svg>
          </div>
        </div>
        <div class="integration-2-block mtop">
          <div class="integration-2-item-block">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"><rect width="40" height="40" rx="8" fill="#edff81"/><text x="8" y="26" font-size="16" font-weight="700" fill="#010127">Dr</text></svg>
          </div>
          <div class="integration-2-item-block">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"><rect width="40" height="40" rx="8" fill="#edff81"/><text x="10" y="26" font-size="16" font-weight="700" fill="#010127">Cf</text></svg>
          </div>
        </div>
        <div class="integration-2-block">
          <div class="integration-2-item-block">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"><rect width="40" height="40" rx="8" fill="#edff81"/><text x="8" y="26" font-size="16" font-weight="700" fill="#010127">St</text></svg>
          </div>
          <div class="integration-2-item-block">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"><rect width="40" height="40" rx="8" fill="#edff81"/><text x="10" y="26" font-size="16" font-weight="700" fill="#010127">Ap</text></svg>
          </div>
        </div>
        <div class="integration-2-block mtop last-box">
          <div class="integration-2-item-block">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"><rect width="40" height="40" rx="8" fill="#edff81"/><text x="8" y="26" font-size="16" font-weight="700" fill="#010127">Pw</text></svg>
          </div>
          <div class="integration-2-item-block">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"><rect width="40" height="40" rx="8" fill="#edff81"/><text x="10" y="26" font-size="16" font-weight="700" fill="#010127">Xy</text></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="integrations-2-btn-block">
      <a href="/integration/" class="btn-block btn-icon">
        <span class="btn-text-block">View all integrations</span>
        <span class="btn-icon-block">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="#fff" stroke-width="2"><path d="M5 10h10M12 7l3 3-3 3"/></svg>
        </span>
      </a>
    </div>
  </div>
</section>

<style lang="less">
  .integration-2-section {
    &.section-padding {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  .integration-2-heading-wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .integration-2-section-inner {
    margin-top: 50px;
  }

  .integration-2-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .integration-2-block {
    display: flex;
    flex-flow: column;
    gap: 30px;

    &.mtop {
      margin-top: 40px;
    }
  }

  .integration-2-item-block {
    border-radius: 15px;
    background-color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
  }

  .integrations-2-btn-block {
    text-align: center;
    margin-top: 50px;
  }

  .center-text {
    text-align: center;
  }

  @media screen and (max-width: 991px) {
    .integration-2-heading-wrapper {
      width: 100%;
    }

    .integration-2-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 20px;
    }

    .integration-2-block {
      flex-flow: row;
      gap: 20px;

      &.mtop {
        margin-top: 0;
      }
    }

    .integration-2-section.section-padding {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  @media screen and (max-width: 767px) {
    .integration-2-wrapper {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  @media screen and (max-width: 479px) {
    .integration-2-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
